{{!-- <h1>DashBoard</h1>

<body>

    <a href="/jobs/add">Add</a>
     <a href="/jobs/delete">Add</a>

             


</body> --}}


<h6>Dashboard</h6>
<h3>Welcome {{name}}</h3>
{{!-- <p>Here are your jobs</p>  --}}
{{#if jobs}}
<p>Here are your jobs</p> 
<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
 {{#each jobs}}
 <tr>
            <td><a href="/jobs/{{_id}}">{{title}}</a></td>
            {{!-- <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td> --}}

              <a href="/jobs/edit/{{_id}}">edit</a>




             <form action="/jobs/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                      <button type="submit">
                    </button>
                </form>

            <td></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{else}}
<p>You have not created any jobs</p>
{{/if}}  
